body{
	margin:0;
	padding:0;
	font-family: 'Roboto', sans-serif;
	font-size:14px;
	color:#727272;
	background-image:url(../img/slider.jpg); 
	background-size:cover;
	background-attachment:fixed;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', sans-serif;
}
/*
 ---- Fixed navigation panel ---
 ---- Global nav panel ---
*/

.holder{
	width:100%;
	border-bottom:1px solid #dedede;	
	background:#fff;
	float:left;
	position:fixed;
	z-index: 100;
}
.navigation-holder{
	width:960px;
	margin:0 auto;
	overflow:hidden;
}
.holder .navigation-holder img{
	height:90px;
	width:90px;
	float:left;
}


.holder nav{
	float:right;
	padding:25px 0;
}

.holder nav ul{
	list-style:none;
}
.holder nav ul li{
	margin-right:42px;
	list-style:none;
	display: inline-block;
	float: right;
	color:#444;
	font-size:13px;
	font-weight:500;
}

.holder nav ul a li:hover {
	color:#33bcf0;
	transition: .3s all;
}

/*---Global Container --- */
.container{
	margin:0 auto;
	width:960px;
	overflow:hidden;
}



/* -- Header ---- */
header{
	width:100%;
	margin-top:90px;
	height:600px;
	overflow:hidden;
}
header .header-content{
	text-align:center;
	width:100%;
	height:100%;
	padding-top:50px;
	background:rgba(255, 255, 255, 0.78);
}

header .header-content .header-more{
	height:15px;width:150px;background:#414141;margin:0 auto;margin-top:50px;color:#fff;padding:20px 0px;	
}

header .header-content a .header-more:hover{
	background:#33bcf0;
	transition: .3s all;
}

/*-- Content Sections -- */
.content-one{
	width:100%;
	background:#fff;
	overflow:hidden;
	padding:50px 0;
}
.content-one h2{
	font-size: 24px;
	font-weight: 600;
	color:#000;
}

.content-one p{
	font-size:16px;
	font-weight: 300;
	line-height:28px;
}


.content-two{
	width:100%;
	background:#fcfcfc;
	overflow:hidden;
	padding-bottom:40px;
}

.content-two .content-media-one{
	overflow:hidden;
	width:450px;
	float:left;
	margin:10px 0 10px 20px;
}
.content-two .content-media-one .media-logo{
	height:150px;
	width:150px;
	background:#fff;
	float:left;
	border-radius:50%;
	overflow: hidden;
	
}
.content-two .content-media-one .media-content{
	margin-left:170px;
	font-size:13px;
	font-weight:100;
}
/* --- GLOBAL --- */
.global-header{
	margin-top:90px;
	background:#252531;
	text-align:center;
	padding:40px 0;
	color:#fff;
	line-height:10px;
}

/*---- ABOUT SECTION ----- */
.about-one{
	padding:10px 0px;
}
.about-text-holder{
	margin-left:480px;
}

.about-two{
	padding:10px 0;
	text-align:center;
	float:left;
	width:100%;
	padding-bottom: 30px;
}

/*--- WORK SECTION -- */
.work-holder{
	overflow:hidden;
	float:left;
	line-height:15px;
	margin-top:20px;
}

.work-content{
	width:400px;
	float:left;
	overflow:hidden;
}

.work-content-two{
	width:400px;
	margin-top:200px;
}

/*---- Global footer --- */
footer {
	width:100%;
	background:#252531;
	overflow:hidden;
}
footer .footer-top{
	color:#fff;
	text-align:center;
}

footer .footer-top .pre-content{
	width:700px;text-align:center;margin:0 auto;
}

footer .footer-top .pre-content .btn-contact{
	height:15px;width:150px;background:#fff;margin:0 auto;margin-top:30px;color:#252531;padding:20px 0px;font-weight:300:
}
footer .footer-top .pre-content .btn-contact:hover{
	background:#33bcf0;
	transition: .3s all;
	color:#fff;
}

footer .footer-bottom{
	color:#000;
	background:#fff;
	padding:40px 5px;
	margin-top:50px;
}